#tbArquivos tr > th, #tbArquivos tr > td {
    text-align: center;
}

#tbArquivos td:nth-child(6) {
    font-weight: bold;
}

.tb-tooltip-status {
    background: none !important;
    float: right;
}

    .tb-tooltip-status tr {
    background: none !important;
    }
    .tb-tooltip-status tr td {
        padding: 3px !important;
        border-left: none;
        border-right: none;
    }

    .tb-tooltip-status tr:nth-child(even) td,
    .tb-tooltip-status tr:nth-child(odd) td {
        background: none !important;
    }

#tbEstornos_length select {
    margin-top: 10px;
    width: 70px;
}

#tbEstornos_filter input {
    margin-top: 10px;
    width: 240px;
}

legend {
    margin-bottom: 5px !important;
    padding: 5px;
}

.h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.btn-exemplo-estorno {
    float: right;
    margin: 8px;
}